.container {
    display: flex;
    border: 2px solid violet;
}

.items {
    width: 600px;
}

.item {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.item .itemName {
    width: 100px;
}

.item > div {
    width: 70px;
}

.options {
    display: flex;
}

.options div:first-child {
    margin-right: 15px;
}

#saveButton {
    cursor: pointer;
}

.options > div {
    cursor: pointer;
}

.left {
    width: 50%;
    border: 2px solid orange;
}

#inputContainer {
    display: flex;
    flex-wrap: wrap;
}

#inputContainer > * {
    width: 49%;
    margin-bottom: 2%;
}

.expertisePrice {
    display: flex;
    gap: 10px;
}

.expertisePrice > * {
    width: 50%;
}

#message {
    color: red;
}